<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <!--the button to scrape-->
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
    </div>
    <!--show latest news and images for Mars-->
    <div class="container">
        <div class="col-md-12">
            <h1>Latest Mars News</h1>
            <h3>{{data_mars.news_title}}</h3>
            <p>{{data_mars.paragraph}}</p>
        </div>

        <div class="col-md-8">
            <h1>Featured Mars Image</h1>
            <img src="{data_mars.featured_image_url}}" width="720" height="650" alt="mars">
        </div>

            <div class="table">
                <h2>Mars Facts</h2>
                <p>{{data_mars.html_table|safe}}</p>
            </div>  
        </div>
    </div>

    <!--show the hemispheres' images and titles-->
    <div class="container">
        <h2 align="center">Mars Hemispheres</h2>
        <hr>
            <div class="card">
                {% for image in mars_data.hemisphere_urls %}
                <div class="col-md-6">
                    <img class="thumbnail" src="{{image.img_url}}" width="100%" alt="{{image.title}}"> 
                    <div class="card-body">
                        <h3 class="card-title">{{image.title}}</h3>    
                    </div>
                </div>
                {% endfor %}
            </div>   
    </div>
</body>
</html>